<%= link_to "show modal", new_invite_path, remote: true %>
  <%=  form_for :post, mode:@invite, url: cycle_invites_path do |form| %>

    <hr class="solid">
    <div class="form2">
      <%= form.label :"Want to include a message with the invite?" , style: "display: block", class: "form-label" %>
      <%= form.text_area :"Please enter your message", placeholder: "Please enter your message", class: 'form2'%>
      <div style="color: red">
      </div>
    </div>
    <hr class="solid">
    <div class="modal-body remote_modal_body" id="remote_modal_body">
      <div class="form-label2">
      <h5>You're about to share with the individuals above:</h5>
      <ul>
      <li>Core Structure Assembly</li>
      </ul>
      </div>
    </div>
    <hr class="solid">
    <div class="popup" onclick="myFunction()">
      <%= form.submit "SEND INVITATION", class: "submit" , method: :post do |form| %>
          <%= form.button "Update" %>
          <span class="popuptext" id="myPopup"></span>
      <% end %>
    </div>
    <% end %>
